input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  /* // transition: background-color 5000s ease-in-out 0s; */
}

.first-slide-text {
    font-size: 2rem;
}

.carousel-caption {
    top: 40px;
    bottom: auto;
}

/* style={{top:80, bottom:'auto'}} */

@media only screen and (max-width: 1024px) {
    .first-slide-text {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 775px) {
    .first-slide-text {
        font-size: 2.5rem;
    }

    .carousel-caption {
        top: 40px;
        bottom: auto;
    }

}

@media only screen and (max-width: 445px) {
    .first-slide-text {
        font-size: 1.2rem;
    }

    .carousel-caption {
        top: 20px;
        bottom: auto;
        /* color: lightgrey; */
    }
}